<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
      <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
        <div class="user-padding">
          <%= profile_img(user) %>
          <div class="line-break">
            <%= user.email %>
          </div>
          <%= link_to "詳細", user_path(user) %>
          <% if user.id != current_user.id %>
            <li>
              <div class="item">
                <%= link_to user.name, user %>
                <br>
                <% @followed.each do |followed| %>
                  <% @followers.each do |followers| %>
                    <% if user.id == followed.id && user.id == followers.id %>
                      <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
            </li>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
